/src
/node_modules
/public

.env
.eslint.config.js
.DS_Store
.git
.gitignore

index.html
tsconfig.json
tsconfig.node.json
tsup.config.ts
vite.config.ts
tsconfig.bundle.json
tsconfig.app.json
eslint.config.js

# Development files
package-lock.json
*.log
*.tgz

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db